.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    &__card {
        border-color: transparent $borderColor;
        border-style: solid;
        border-width: 2px;
        margin: 5px; // medida relativa 5px/818.77px
        padding: 30px; // medida relativa 30px/818.77px
        margin-bottom: 40px; // medida relativa 40px/818.77px
        cursor: pointer;
    }

    &__card:hover {
        background-color: $boxColor;
        transition: .4s background-color;
        border-color: $borderColor;
        box-shadow: 4px 4px 10px 0px $borderColor;
        transition: .6s border-color;
        transition: .3s box-shadow;

    }


}

@media (max-width: $breakpoint-lg) {
    .cards {
        flex-direction: column;
    }

}