//header comportamento padrão Desktop e telas grandes
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    //transformação do menu principal
    &__nav {
        height: 73px;

        //ul
        &__pages {
            height: 100%;
            display: flex;
            column-gap: 15px;
            margin: 0;
            padding: 0;
            transition: margin 200ms ease-out;

            &__page {
                // li
                display: flex;
                height: 100%;
                align-items: center;

                // a
                &__link {
                    display: block;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.125em; // medida relativa! 18/16
                    color: $textColor;
                    transition: all 200ms ease-out;
                    position: relative;

                    // Efeito Css3 nos links 
                    &::after {
                        content: ' ';
                        width: 0%;
                        height: 3px;
                        background-color: $mainColor;
                        position: absolute;
                        bottom: -37px;
                        left: 0;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            transition: all 200ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

// header comportamento mobile e tablets
@media(max-width: $breakpoint-md) {
    .header {
        justify-content: center;
        align-items: stretch;
    }
}

//logo e botão
.header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        width: 50px; // como converter
        height: 50px; // não entendi
        background-color: #fff;
        background-image: url('../imgs/img/menuprincipal-btn-bg.png');
        background-repeat: no-repeat;
        background-position: -47px 7px; //top left

        @media(min-width: $breakpoint-lg) {
            display: none;
        }

        //estado botão fechado
        &--closed {
            background-position: 5px 5px;
        }

    }
}

// Esconder o menu
@media(max-width: ($breakpoint-lg - 1)) {
    .header {
        // tag header
        flex-direction: column;
        align-items: stretch;

        &__nav {
            // tag nav
            height: 240px;
            margin-left: 5px;

            &--closed {
                display: none !important;
            }

            &__pages {
                // tag ul
                row-gap: 5px;
                flex-direction: column;

                &__page__link::after {
                    bottom: -7px;
                }
            }
        }

        &__elements {
            margin: 5px 5px 5px 5px;
        }

    }
}