.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.slider__image {
    border-left: $borderLight;
    border-right: $borderLight;
    padding: 20px;
}