$breakpoint-sml: 422px;
$breakpoint-sm: 576px; //576px dispositivos mobile
$breakpoint-md: 768px; //768px dispositivos tablets
$breakpoint-lg: 992px; //992px dispositivos notebooks/ ultrabooks
$breakpoint-xl: 1200px; //1200px dispositivos desktop