$mainColor: #053E8B; // cor principal do site
$secondaryColor: #577ff9; // cor secundaria usada como bg de buttons
$buttonHover: #3263f8; // hover em botões
$textColor: #6E6969; // cor do texto
$boxColor: #FAFAFA; // cor das caixas
$borderColor: #dee2e6; // cor das bordas
$dotsBgColor: #CED3D8; // cor slider dots
$whiteColor: #FFFFFF;