.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    &__column__telephone {
        font-size: 2.18rem;
        color: #053E8B;
        text-decoration: none;
    }

    &__column__links {
        list-style: none;
        display: flex;
        column-gap: 40px;
        justify-content: center;
        padding: 0;
    }

    &__column__links__link {
        text-decoration: none;
        color: #6E6969;
    }
}

@media (max-width: $breakpoint-md) {
    .contact__column {
        padding: 20px;
    }
}