// Sobre Seção refatorar
.about {
    color: $whiteColor;
    background: url('../../assets/imgs/img-home-about-us-md.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    &__column {
        padding: 20px;
    }

    &__column__title {
        font-size: 1.18em;
        line-height: 23px;
        text-transform: uppercase;
    }

    &__column__subtitle {
        font-size: 3.625em;
    }

    &__column__description {
        font-size: 1.25em;
        line-height: 30px;
    }

    // Posicionamento
    // Box model
    // Tipografia
    // Visual
    // botão 
    &__column__btn {
        text-transform: uppercase;
        padding: 20px;
        background-color: transparent;
        border: $borderWhite;
        color: $whiteColor;

        cursor: pointer;
    }

    &__column__btn:hover {
        background-color: #fff;
        color: #000;
        transition: .3s all;
    }
}


/// seção vagas home
.vagas__image {
    background-image: url('../../assets/imgs/img-about-us-cases-md.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.vagas__image__title {
    text-transform: uppercase;
    color: #fff;
    margin: 160px 0 0 100px; // transformar em medida relativa
}