.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__column {
        flex-basis: 450px;
        padding: 20px;
    }

    &__image {
        padding: 20px;
    }

    &:nth-child(2n) {
        background-color: $boxColor;
        flex-flow: row-reverse wrap;
    }
}